<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.dandan.danvesting.stock.comment.dao.StockCommentDAO">
 	<insert id="insertStockComment" parameterType="map">
 		INSERT INTO	`stockcomment`
		(
			`userId`
			, `nickName`
			, `ticker`
			, `cik`
			, `content`
			, `createdAt`
			, `updatedAt`
		) VALUES(
			#{userId}
			, #{nickName}
			, #{ticker}
			, #{cik}
			, #{content}
			, now()
			, now()
		);
 	</insert>
 	
 	<select id="selectStockComments"  parameterType="map" resultType="com.dandan.danvesting.stock.comment.model.StockComment">
 		SELECT
 			`id`
 			, `userId`
			, `nickName`
			, `ticker`
			, `cik`
			, `content`
			, `createdAt`
			, `updatedAt`
		FROM
			`stockcomment`
		WHERE
			`ticker` = #{ticker};
 	</select>
 </mapper>