<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.dandan.danvesting.user.dao.UserDAO">
 	<insert id="insertUser" parameterType="map">
 		INSERT INTO `user`
 		(
 			`loginId`
 			, `password`
 			, `auth`
 			, `name`
 			, `nickName`
 			, `createdAt`
 			, `updatedAt`
 		) VALUES (
 			#{loginId}
 			, #{password}
 			, 'member'
 			, #{name}
 			, #{nickName}
 			, now()
 			, now()
 		);
 	</insert>
 	
 	<select id="selectUser" parameterType="map" resultType="com.dandan.danvesting.user.model.User">
 		SELECT 
 			`id`
			, `loginId`
			, `password`
			, `auth`
			, `name`
			, `nickName`
			, `createdAt`
			, `updatedAt`
		FROM
			`user`
		WHERE
			`loginId` = #{loginId}
		AND
			`password` = #{password};
 	</select>
 	
 	<select id="selectUserByLoginId" parameterType="string" resultType="int">
 		SELECT
 			count(*)
 		FROM
 			`user`
 		WHERE
 			`loginId` = #{loginId};
 	</select>
 </mapper>